services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: scheduler
      POSTGRES_PASSWORD: scheduler
      POSTGRES_DB: schedulerdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata_shared:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d:ro   # optional init scripts
    networks:
      - shared_net

  redis:
    image: redis:7.0-alpine
    ports:
      - "6379:6379"
    networks:
      - shared_net

  prometheus:
    image: prom/prometheus:latest
    container_name: prom
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro
    depends_on:
      - prometheus
    restart: unless-stopped

volumes:
  pgdata_shared:

networks:
  shared_net:
    external: true